$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-header: #006ef5;
$color__background-header-secondary: #004eae;
$color__background-header-hover: #013371;

$color__text-screen: #21759b;
$color__text-input: #767676;
$color__text-input-focus: #333333;
$color__link: #cc4b00;
$color__link-visited: #cc4b00;
$color__link-hover: #ffc700;
$color__text-main: #333333;
$color__nav-links: #fff;
$color__nav-hover: #ffc700;
$color__header-icons: #fff;
$color__text-meta: #767676;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
