$size__site-main: 100%;
$size__site-sidebar: 25%;
$size__header-height-sm: 56px;
$size__header-height-lg: 106px;
$size__header-icon: 20px;
$size__input-height: 45px;
$size__input-width-lg: 360px;

$grid-gutter-width: 40px;

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 1200px
);